  # Jinja template for AppSync Lambda DataSources
  {% for schema in schemas.values() if schema.type == 'lambda' %}
  {{ schema.name }}LambdaDataSource:
    Type: AWS::AppSync::DataSource
    Properties:
      ApiId: !GetAtt IntegrationHubApi.ApiId
      Name: {{ schema.name }}LambdaDataSource
      Type: AWS_LAMBDA
      LambdaConfig:
        LambdaFunctionArn: !Sub '{{"{{resolve:ssm:${CustomerId}-${ProjectId}-${Environment}-" ~ schema.name|to_kebab_case ~ "-lambda-arn}}"}}'
      ServiceRoleArn: !GetAtt AppSyncServiceRole.Arn
  {% endfor %} 