
# Include model schemas
{% for schema in model_schemas %}
# Model: {{ schema.name }}
{{ schema.content }}

{% endfor %}

enum ApplicationEnvironments @aws_api_key @aws_cognito_user_pools {
  DEVELOPMENT
  TESTING
  STAGING
  PRODUCTION
}

enum Status @aws_api_key @aws_cognito_user_pools {
  ACTIVE
  PENDING
  SUSPENDED
  INACTIVE
}

enum UserGroup @aws_api_key @aws_cognito_user_pools {
  USER
  CUSTOMER
  CLIENT
  EMPLOYEE
  OWNER
}

type Application @aws_api_key @aws_cognito_user_pools {
  application_id: String!
  user_id: String!
  status: String!
  name: String!
  description: String
  created_at: String!
  deleted_at: String
}

type ApplicationResponse @aws_api_key @aws_cognito_user_pools {
  status_code: Float!
  message: String
  application: Application
}

type ApplicationsResponse @aws_api_key @aws_cognito_user_pools {
  status_code: Float!
  message: String
  applications: [Application]
}

type ApplicationRole @aws_api_key @aws_cognito_user_pools {
  name: String!
  description: String
}

type ApplicationEnvironmentRoles @aws_api_key @aws_cognito_user_pools {
  DEFAULT: [ApplicationRole!]!
  DEVELOPMENT: [ApplicationRole!]
  TESTING: [ApplicationRole!]
  STAGING: [ApplicationRole!]
  PRODUCTION: [ApplicationRole!]
}

type ApplicationSettings @aws_api_key @aws_cognito_user_pools {
  debug_level: String
}

type ApplicationEnvironmentSettings @aws_api_key @aws_cognito_user_pools {
  DEFAULT: ApplicationSettings!
  DEVELOPMENT: ApplicationSettings
  TESTING: ApplicationSettings
  STAGING: ApplicationSettings
  PRODUCTION: ApplicationSettings
}

input ApplicationCreateInput {
  application_id: String!
  user_id: String!
  status: String!
  name: String!
  description: String
  created_at: String!
  settings: ApplicationSettingsInput!
  roles: ApplicationEnvironmentRolesInput!
}

input ApplicationQueryInput {
  application_id: String
  user_id: String
}

input ApplicationUpdateInput {
  application_id: String!
  status: String
  name: String
  description: String
  settings: ApplicationEnvironmentSettingsInput
  roles: ApplicationEnvironmentRolesInput
  deleted_at: String
}

input ApplicationRoleInput {
  name: String!
  description: String
}

input ApplicationEnvironmentRolesInput {
  DEFAULT: [ApplicationRoleInput!]!
  DEVELOPMENT: [ApplicationRoleInput!]
  TESTING: [ApplicationRoleInput!]
  STAGING: [ApplicationRoleInput!]
  PRODUCTION: [ApplicationRoleInput!]
}

input ApplicationSettingsInput {
  debug_level: String
}

input ApplicationEnvironmentSettingsInput {
  DEFAULT: ApplicationSettingsInput!
  DEVELOPMENT: ApplicationSettingsInput
  TESTING: ApplicationSettingsInput
  STAGING: ApplicationSettingsInput
  PRODUCTION: ApplicationSettingsInput
}

type ApplicationUser @aws_api_key @aws_cognito_user_pools {
  application_id: String!
  user_id: String!
  roles: ApplicationEnvironmentRoles!
  status: String!
  created_at: String!
  deleted_at: String
}

type ApplicationUserResponse @aws_api_key @aws_cognito_user_pools {
  status_code: Float!
  message: String
  application_user: ApplicationUser
}

input ApplicationUserCreateInput {
  application_id: String!
  user_id: String!
  roles: ApplicationEnvironmentRolesInput!
  status: String!
  created_at: String!
}

input ApplicationUserQueryInput {
  application_id: String
  user_id: String
}

input ApplicationUserUpdateInput {
  application_id: String!
  user_id: String!
  status: String
  roles: ApplicationEnvironmentRolesInput
  deleted_at: String
}

type SMSVerificationResponse @aws_api_key @aws_cognito_user_pools {
  status_code: Float!
  message: String
  code: Float
}

input SMSVerificationInput {
  phone_number: String!
}

type User @aws_api_key @aws_cognito_user_pools {
  user_id: String!
  cognito_id: String!
  email: String!
  phone_number: String
  first_name: String
  last_name: String
  groups: [UserGroup!]!
  status: Status!
  created_at: String!
}

input UserQueryInput {
  user_id: String
  cognito_id: String
  email: String
}

input UserCreateInput {
  user_id: String!
  cognito_id: String!
  email: String!
  groups: [UserGroup!]!
  status: Status!
  created_at: String!
}

input UserUpdateInput {
  user_id: String!
  email: String
  phone_number: String
  first_name: String
  last_name: String
  groups: [UserGroup!]
  status: Status
}

type UserResponse @aws_api_key @aws_cognito_user_pools {
  status_code: Float!
  message: String
  user: User
}

type Mutation {
  applicationCreate(input: ApplicationCreateInput!): ApplicationResponse! @aws_cognito_user_pools
  applicationUpdate(input: ApplicationUpdateInput!): ApplicationResponse!
  applicationUserCreate(input: ApplicationUserCreateInput!): ApplicationUserResponse!
  applicationUserUpdate(input: ApplicationUserUpdateInput!): ApplicationUserResponse!
  sendSMSVerificationCode(input: SMSVerificationInput!): SMSVerificationResponse! @aws_cognito_user_pools
  userCreate(input: UserCreateInput!): UserResponse! @aws_api_key @aws_cognito_user_pools
  userUpdate(input: UserUpdateInput!): UserResponse! @aws_cognito_user_pools
}

type Query {
  applicationQueryById(input: ApplicationQueryInput!): ApplicationResponse!
  applicationUserQueryById(input: ApplicationUserQueryInput!): ApplicationUserResponse!
  applicationQueryByUserId(input: ApplicationQueryInput!): ApplicationsResponse!
  userQueryById(input: UserQueryInput!): UserResponse! @aws_api_key
}

schema {
  query: Query
  mutation: Mutation
}
