{# DynamoDB table definition template #}
Resources:
  {{ table_name }}Table:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: {{ table_name }}
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: {{ keys.primary.partition }}
          AttributeType: S
        {% if keys.primary.sort %}
        - AttributeName: {{ keys.primary.sort }}
          AttributeType: S
        {% endif %}
        {% for idx in keys.secondary %}
        - AttributeName: {{ idx.partition }}
          AttributeType: S
        {% if idx.sort %}
        - AttributeName: {{ idx.sort }}
          AttributeType: S
        {% endif %}
        {% endfor %}
      KeySchema:
        - AttributeName: {{ keys.primary.partition }}
          KeyType: HASH
        {% if keys.primary.sort %}
        - AttributeName: {{ keys.primary.sort }}
          KeyType: RANGE
        {% endif %}
      {% if keys.secondary %}
      {% set gsis = [] %}
      {% set lsis = [] %}
      {% for idx in keys.secondary %}
        {% if idx.type == 'GSI' %}
          {% set _ = gsis.append(idx) %}
        {% elif idx.type == 'LSI' %}
          {% set _ = lsis.append(idx) %}
        {% endif %}
      {% endfor %}
      {% if gsis %}
      GlobalSecondaryIndexes:
        {% for idx in gsis %}
        - IndexName: {{ idx.name }}
          KeySchema:
            - AttributeName: {{ idx.partition }}
              KeyType: HASH
            {% if idx.sort %}
            - AttributeName: {{ idx.sort }}
              KeyType: RANGE
            {% endif %}
          Projection:
            ProjectionType: {{ idx.projection_type }}
            {% if idx.projection_type == 'INCLUDE' and idx.projected_attributes %}
            NonKeyAttributes:
              {% for attr in idx.projected_attributes %}
              - {{ attr }}
              {% endfor %}
            {% endif %}
        {% endfor %}
      {% endif %}
      {% if lsis %}
      LocalSecondaryIndexes:
        {% for idx in lsis %}
        - IndexName: {{ idx.name }}
          KeySchema:
            - AttributeName: {{ keys.primary.partition }}
              KeyType: HASH
            {% if idx.sort %}
            - AttributeName: {{ idx.sort }}
              KeyType: RANGE
            {% endif %}
          Projection:
            ProjectionType: {{ idx.projection_type }}
            {% if idx.projection_type == 'INCLUDE' and idx.projected_attributes %}
            NonKeyAttributes:
              {% for attr in idx.projected_attributes %}
              - {{ attr }}
              {% endfor %}
            {% endif %}
        {% endfor %}
      {% endif %}
      {% endif %}
      Tags:
        - Key: Environment
          Value: ${env}
        - Key: Project
          Value: orb-integration-hub
        - Key: ManagedBy
          Value: schema-generator 