{% for type_name, type_def in graphql_types.items() %}
type {{ type_name }} {
{%- for attr in type_def.attributes %}
  {{ attr.name }}: {{ attr.type|graphql_type }}{% if attr.required %}!{% endif %}
{%- endfor %}
}
{% endfor %} 