"""
Generated Python enum for {{ enum_name }}
Generated at {{ timestamp }}
"""

from enum import Enum

class {{ enum_name }}(Enum):
{% for value in enum_values %}
    {{ value }} = "{{ value }}"
{% endfor %} 