<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item breadcrumb__item--icon">
      <fa-icon icon="map" class="breadcrumb__icon" aria-hidden="true"></fa-icon>
    </li>
    <li *ngFor="let item of items; let last = last" class="breadcrumb__item">
      <a *ngIf="item.route && !last" 
         [routerLink]="item.route" 
         class="breadcrumb__link">
        {{ item.label }}
      </a>
      <span *ngIf="!item.route || last" 
            class="breadcrumb__current"
            [attr.aria-current]="last ? 'page' : null">
        {{ item.label }}
      </span>
      <fa-icon *ngIf="!last" 
               [icon]="faChevronRight" 
               class="breadcrumb__separator"
               aria-hidden="true">
      </fa-icon>
    </li>
  </ol>
</nav>
