// file: frontend/src/app/features/user/components/this-is-not-the-page/this-is-not-the-page.component.html
// author: Corey Dale Peters
// date: 2025-03-07
// description: HTML template file

<div>
    <div class="row justify-content-center my-5" >
        <div class="col-8">
            <div class="row justify-content-left my-3">
                <div class="card">
                    <div class="card-body">
                        <h2>O.o</h2>
                        <p>This is not the page you were looking for.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>