// file: frontend/src/app/layouts/user-layout/user-layout.component.scss
// author: Corey Dale Peters
// date: 2025-03-07
// description: SCSS style file for user pages

@use '../../../styles/variables' as v;

// Note: CSS custom properties (--orb-*) are defined globally in _tokens.scss
// No need to redeclare them here

.user-layout-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: v.$orb-white;
  display: flex;
  justify-content: center;
}

.user-layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: v.$orb-white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-color: v.$orb-white;
  width: 100%;
  box-sizing: border-box;

  .nav-menu {
    display: flex;
    gap: 2rem;

    .nav-link {
      color: v.$orb-dark-blue;
      text-decoration: none;
      position: relative;
      padding: 0.5rem 0;
      
      // Remove browser defaults that cause blue flashes
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
      outline: none;
      
      &:focus {
        outline: none;
        box-shadow: none;
      }
      
      &:active {
        outline: none;
        box-shadow: none;
      }
      
      &:visited {
        color: v.$orb-dark-blue;
      }

      &:hover {
        color: v.$orb-red;
      }

      &.active {
        color: v.$orb-dark-blue;

        &::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: v.$orb-red;
          animation: underline 0.3s ease-in-out;
        }
      }
    }
  }
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  background-color: transparent;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;

    .nav-menu {
      gap: 1rem;
    }
  }
}
