<!-- 
file: frontend/src/app/features/user/components/auth-flow/components/password/password.component.html
author: Corey Dale Peters
date: 2025-03-07
description: HTML template file
-->

<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form">
  <!-- Error Banner -->
  <div class="password-form__error" *ngIf="error">
    {{ error }}
  </div>

  <div class="password-form__header">
    <h2 class="password-form__title">{{ (userExists$ | async) ? 'Enter Password' : 'Create Password' }}</h2>
    <p class="password-form__subtitle" *ngIf="!(userExists$ | async)">Please create a secure password for your account</p>
    <p class="password-form__subtitle" *ngIf="userExists$ | async">Enter your password to continue</p>
  </div>

  <div class="password-form__input-group">
    <label for="password" class="password-form__label">Password</label>
    <div class="password-form__input-container">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        id="password"
        formControlName="password"
        class="password-form__input"
        [ngClass]="{'password-form__input--error': isFieldInvalid('password')}"
        placeholder="Enter your password"
        autocomplete="current-password"
      >
      <button 
        type="button"
        class="password-form__toggle-visibility"
        (click)="togglePasswordVisibility()"
      >
        <i class="fa" [class.fa-eye]="!passwordVisible" [class.fa-eye-slash]="passwordVisible"></i>
      </button>
    </div>
    <div *ngIf="isFieldInvalid('password')" class="password-form__error-message">
      {{ getErrorMessage('password') }}
    </div>
  </div>

  <!-- Password Requirements (for new users) -->
  <div class="password-form__requirements" *ngIf="!(userExists$ | async)">
    <h3 class="password-form__requirements-title">Password Requirements</h3>
    <div class="password-form__requirement" 
         [ngClass]="{'password-form__requirement--valid': passwordValidations.minLength}">
      <i class="fa" [class.fa-times]="!passwordValidations.minLength" [class.fa-check]="passwordValidations.minLength"></i>
      <span>At least 8 characters</span>
    </div>
    <div class="password-form__requirement"
         [ngClass]="{'password-form__requirement--valid': passwordValidations.hasUppercase}">
      <i class="fa" [class.fa-times]="!passwordValidations.hasUppercase" [class.fa-check]="passwordValidations.hasUppercase"></i>
      <span>One uppercase letter</span>
    </div>
    <div class="password-form__requirement"
         [ngClass]="{'password-form__requirement--valid': passwordValidations.hasLowercase}">
      <i class="fa" [class.fa-times]="!passwordValidations.hasLowercase" [class.fa-check]="passwordValidations.hasLowercase"></i>
      <span>One lowercase letter</span>
    </div>
    <div class="password-form__requirement"
         [ngClass]="{'password-form__requirement--valid': passwordValidations.hasNumber}">
      <i class="fa" [class.fa-times]="!passwordValidations.hasNumber" [class.fa-check]="passwordValidations.hasNumber"></i>
      <span>One number</span>
    </div>
    <div class="password-form__requirement"
         [ngClass]="{'password-form__requirement--valid': passwordValidations.hasSpecial}">
      <i class="fa" [class.fa-times]="!passwordValidations.hasSpecial" [class.fa-check]="passwordValidations.hasSpecial"></i>
      <span>One special character (!&#64;#$%^&amp;*-_)</span>
    </div>
  </div>

  <button
    type="submit"
    class="password-form__button"
    [disabled]="!passwordForm.valid || isLoading"
    [ngClass]="{'password-form__button--loading': isLoading}"
  >
    {{ (userExists$ | async) ? 'Sign In' : 'Create Account' }}
    <div class="password-form__button-loader" *ngIf="isLoading"></div>
  </button>
</form>