// file: frontend/src/app/features/user/components/auth-flow/components/login/login.component.scss
// author: Corey Dale Peters
// date: 2025-03-07
// description: SCSS style file

@import '../../../../../../../../styles/variables';
@import '../../../../../../../../styles/mixins';

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__error {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    color: $error-color;
    background-color: rgba($error-color, 0.1);
    border-radius: $border-radius;
    text-align: center;
  }

  &__header {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $text-color-primary;
  }

  &__subtitle {
    font-size: 0.875rem;
    color: $text-color-secondary;
  }

  &__input-group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: $text-color-primary;
  }

  &__input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-color-light;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }

    &--error {
      border-color: $error-color;
    }

    &::placeholder {
      color: $text-color-placeholder;
    }
  }

  &__error-message {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: $error-color;
  }

  &__button {
    @include button-primary;
    position: relative;
    margin-bottom: 1rem;
    
    &--loading {
      color: transparent;
    }
  }

  &__button-loader {
    @include loading-spinner(1.5rem, 0.25rem, $white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  &__link {
    background: none;
    border: none;
    padding: 0;
    font-size: 0.875rem;
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: darken($primary-color, 10%);
      text-decoration: underline;
    }
  }
}