{% for type_name, type_def in graphql_types.items() %}
{% if type_def.type != 'lambda' %}
type {{ type_name }} {
{% for attr in type_def.attributes %}
  {{ attr.name }}: {% if attr.enum_type %}{{ attr.enum_type }}{% else %}{{ attr.type|graphql_type }}{% endif %}{% if attr.required %}!{% endif %}
{% endfor %}
}

{% endif %}
{% endfor %} 
